.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.textDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.content h1 {
  /* font-family: "CopyDuck", sans-serif; */
  font-size: 6rem;
  margin: 0;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.buttonDiv button {
  /* font-family: "CopyDuck", sans-serif; */
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  background-color: #4bbce8;
  transition: transform 0.3s ease, scale 0.3s ease;
  cursor: url("/public/assets/images/cursor.png"), pointer;

  box-shadow: 0 8px 0 0 #3d9ec4;
  position: relative;
}

.buttonDiv button:hover {
  background-color: #4bc7e8;
  transform: scale(1.1);
  transition: transform 0.3s ease, scale 0.3s ease;
}

.buttonDiv button:active {
  box-shadow: none;
  top: 10px;
  margin-bottom: o;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.newContent h1 {
  font-size: 4rem;
  color: #333;
  text-align: center;
}
